@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    margin: 0;
    background-attachment: fixed;
    padding-top: calc(5.9em + 3.125em);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #212121;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.nav {
    position: absolute;
    width: 100%;
    top: 0;

}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 1.2em;
    background-color: #003200;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.nav li {
    position: relative;
}

.nav li a {
    padding: 0 1em;
    color: white;
    text-decoration: none;
    font-size: 2.3em;
}

.navbar_frog {
    object-fit: contain;
    height: 3.5em;
}

.search_bar {
    display: block;
    color: #909090;
    text-align: center;
    justify-self: flex-end;
    border-radius: 0.4em;
    margin-right: 4em;
    height: 1.6em;
    width: 16em;
    border: none;
    font-size: 1em;
    padding: 0.5rem;
    background: none;
    border: 2px solid #909090;
    outline: none;
    text-align: left;
    font-weight: bold;
}

.navbar_space_div {
    flex-grow: 1;
}

.content {
    width: 66vw;
    box-sizing: border-box;
    background-color: #2d2d2d;
    border-radius: 40px;
    color: white;
}


.current_weather {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

.current_weather img {
    width: 100%;
    border-radius: 10px;
    max-width: 100%;
}

.details_left {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 33px;
    width: 33%;
    box-sizing: content-box;
}

.details_left>h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.details_right {
    width: 77%;
    padding: 35px;
    box-sizing: border-box;

}

.details_right_table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

.details_right tr>td>p {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

.details_right tr:not(:last-child) {
    border-bottom: 1px solid grey;
}

.details_right tr> :first-child {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: 24px;
}

.details_right tr> :last-child {
    padding-right: 5px;
    font-size: 24px;
    font-weight: bold;
}

.details_right svg {
    fill: white !important;
}

.weekly_forecast {
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.weekly_forecast h2 {
    font-size: 64px;
    font-weight: bolder;
    margin: 0;
}

#forecast_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.forecast_card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    gap: 10px;
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    max-width: 10%;
}

.forecast_card p {
    margin: 0;
}

.card_day p {
    font-size: 17px;
    font-weight: bold;
}

.card_temperature p {
    font-size: 16px;
    text-align: center;
    /* margin-top: 0.2em; */
}

.card_pic img {
    width: 100%;
    border-radius: 10px;
}

#search_list {
    padding: 6px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    border: 1px solid black;
    background: white;
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
}

.search_item {
    padding: 4px;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
    text-align: left;

    font-size: 0.8em;
    color: lightgrey;
}

.search_item>.upper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    font-size: 1.2em;
    font-weight: 700;
}

.search_item .upper>img {
    height: 24px;
}

#search_list:empty {
    display: none;
}

.wind_arrow {
    width: 30px;
    transform: rotateZ(calc(var(--direction) + 90deg));
}

.temperature_wrapper {
    font-size: 16px;
    color: #cbcbcb;
}

.temperature_wrapper>#temperature {
    font-size: 64px;
    font-weight: bold;
    color: white;
    margin: 0;
    padding-top: 5px;
}

.diagrams {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 35px;
}

.diagrams h2 {
    font-size: 64px;
    font-weight: bolder;
    margin: 0;
}

.back_arrow {
    color: white;
    font-size: 28px;
    font-weight: bolder;
    text-align: left;
    background-color: transparent;
    text-decoration: none;
}
canvas {
    width: 100% !important;
    height: auto !important;
}

#temperature_diagram{
    width: 100%;
    max-width: 85%;
    height: 300px;
}

#precipitation_diagram{
    width: 100%;
    max-width: 85%;
    height: 300px;
}


@media screen and (max-width: 767px) {
    .details_left>h2 {
        font-size: 2.5em;
    }

    .temperature_wrapper {
        font-size: 1em;
    }

    .temperature_wrapper>#temperature {
        font-size: 2em;
    }

    .details_right tr> :first-child {
        font-size: 1em;
    }

    .details_right tr> :last-child {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .details_left>h2 {
        font-size: 2.8em;
    }

    .temperature_wrapper {
        font-size: 1.3em;
    }

    .temperature_wrapper>#temperature {
        font-size: 2.2em;
    }

    .details_right tr> :first-child {
        font-size: 1.3em;
    }

    .details_right tr> :last-child {
        font-size: 1.2em;
    }
}


@media screen and (min-width: 941px) and (max-width: 1300px) {
    .forecast_card{
        max-width: 20%;
    }
    .card_pic img{
        max-width: 80%;
    }
}

@media screen and (max-width: 940px) {
    .forecast_card{
        max-width: 20%;
    }
    .card_pic img {
        max-width: 80%;
    }
}